@model CommonViewModel

@{
    ViewBag.Title = "Beginners";
    Layout = "_Layout";
}

<div class="text-center content">
<h2>Beginners</h2>

<p>Na belading gaan we varen naar onze losbestemming. Met zijn tweeën mogen we 14 uur per dag varen.</p>

<p>’s Avonds zoeken we een ligplaats in een haven of we gaan voor anker op de rivier om te overnachten. 
    De volgende morgen vroeg worden de touwen los gegooid of de ankers omhoog gedraaid en vervolgen we onze reis.</p>

<p>Onze auto nemen we altijd met ons mee aan boord. We hijsen hem van en aan boord, met hijsbanden door de spaken, 
    met onze autokraan. In sommige havens zijn speciale autosteigers of gereserveerde ligplaatsen om de auto van of 
    aan boord te hijsen. Soms moeten we moeilijke capriolen uithalen om de auto aan de wal of aan boord te krijgen.</p>

<p>Omdat we niet altijd een supermarkt naast het schip hebben, doen we vaak boodschappen in grote hoeveelheden. 
    Regelmatig bestellen we onze proviand per mail bij de supermarkt Attent, die gevestigd is op het 
    bunkersteiger van Slurink in Lobith Tolkamer. De bunkerboot brengt ze vervolgens aan boord.
    Goede kwaliteit en heel makkelijk!</p>

<p>
    De bunkerboot voorziet ons ook van gasolie, smeerolie, drinkwater en scheepsbenodigdheden als verf, 
    meertouwen, wrijfhouten en dergelijke. Dit alles gebeurt tijdens de vaart. Het schip neemt wat vaart af 
    en de bunkerboot komt langszij.
</p>

<p>
    Onze woning bestaat uit een woonkamer met een open keuken, 2 slaapkamers en een badkamer. 
    De keuken is klein maar wel voorzien van moderne gemakken als een vaatwasser, 
    koel/vriescombinatie, keramische kookplaat en een combi-magnetron. Ook een wasmachine en wasdroger
    ontbreken aan boord niet. Doorgaans wonen wij 24 uur per dag aan boord, af en toe gaan we op vakantie 
    of verblijven we een weekend aan de wal in ons appartement waar onze, inmiddels volwassen, zonen wonen. 
    Televisie kijken doen we via de schotel en een automatisch volgsysteem zorgt ervoor dat we beeld houden 
    tijdens het varen.
</p>
<p>
    De komst van de mobiele telefoon en mobiel internet heeft het leven aan boord flink veranderd. Voor die tijd 
    verliep de communicatie moeizaam via een telefooncel aan de wal of via de marifoon en was men aan boord 
    vaak slecht te bereiken. Ook het navigeren is eenvoudiger met de electronische vaarkaarten op de 
    computer en het AIS volgsysteem.
</p>
<p>
    Lage brugen/sluizen?
</p>
</div>