@model CommonViewModel

@{
    ViewBag.Title = "Contact";
    Layout = "_Layout";
}

<div class="text-center">
    <h3 class="">Reageren of vragen?</h3>
    <p>Wij zijn bereikbaar per:</p>
    <p><b>E-mail:</b><br>
        <a href="mailto:ingrid@ms-primo.nl">ingrid@ms-primo.nl</a></p>
    <p><b>Post</b><br>
        Buitenbassinweg 851 <br>
        3063 TN Rotterdam</p>
    <p><b>Telefoon: </b><br>
        Alex: +316-55802073<br>
        Ingrid: +316-55195138</p>
    <p>BTW Nr. NL.00.99.40.303.B.01<br>
        KvK Nr.: 24190223</p>
</div>
