@model CommonViewModel

@{
    ViewBag.Title = "Crew";
    Layout = "_Layout";
}

<div class="text-center content">
    <h3>Crew</h3>
    <p>De vaste bemanning bestaat uit: Alex Veldman en Ingrid Veldman-Stavast. Samen bemannen wij, met onze Duitse herdershond
        Zera, de “Primo” voor A1 vaart,
        per dag mogen we 14 uur varen. Af en toe worden wij bijgestaan door stagiairs van het STC.
    </p>
</div>
<div class="well text-center">
    <div class="row">
    <div class="col-md-3 mx-auto">
        <img src="~/images/Alex.JPG" alt="Alex"/>
        <p>Alex</p>
    </div>
    <div class="col-md-3 mx-auto">
        <img src="~/images/Ingrid.JPG" alt="Ingrid"/>
        <p>Ingrid</p>
    </div>
    <div class="col-md-3 mx-auto">
        <img src="~/images/Lucky.jpg" alt="Zera"/>
        <p>Zera</p>
    </div>
    </div>
</div>