@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center content">
    <h1 class="display-4">Start:</h1>
    <p>Welkom aan boord van motorschip Primo!</p>
    <img src="~/images/Primo.JPG" alt="Primo"/>
    <p>
        Met ons motorschip “Primo” vervoeren wij droge lading, zoals aluminium, coils, petroleum cokes
        , zout, grind en graan, over de Europerse binnenwateren.
    </p>
    <p><b>De schippersvrouww verhaalt: </b></p>
</div>
