@model CommonViewModel

@{
    ViewBag.Title = "Stage";
    Layout = "_Layout";
}

<div class="text-center content">
    <h3>Stage</h3>
    <p>Wij hebben regelmatig plaats op de “Primo” voor een gemotiveerde stagiair.
        Je verblijft in een nette eigen voorwoning. (Kost, inwoning en reizen zijn vrij, de weekenden zoveel mogelijk) </p>
    <p>Belangstelling? Neem contact op met de kapitein! Tel. 06-55802073 of alex@ms-primo.nl. </p>
</div>

