@model CommonViewModel

@{
    ViewBag.Title = "Verbouwingen";
    Layout = "_Layout";
}

<div class="text-center content">
    <h3>Verbouwingen</h3>

    <p>In 2005 is de “Primo”, bij Scheepswerf Poppen, Zwartsluis, voorzien van een nieuw voorschip. 
        Daardoor is het schip langer (86 m. i.p.v. 77 m.), breder (9.50 m. i.p.v. 8.20 m.), dieper (2.90 m. i.p.v. 2.50 m.) 
        en dus groter (1.582 ton i.p.v. 1.058 ton geworden.</p>
    <img src="~/images/Primo.JPG" alt="Primo"/>
    <p>
        In 1999 werd de MWM348SU 800 PK (bouwjaar 1958) vervangen door een nieuwe Caterpillar 3508B, 1.015 PK.
    </p>
    <img src="~/images/Primo.JPG" alt="Primo"/>
    <p>
        In 1998 werd de oude houten stuurhut (2 x 3 m.) vervangen door een grotere aluminium stuurhut (3 x 4 m.)
    </p>
    <img src="~/images/Primo.JPG" alt="Primo"/>
</div>