@model CommonViewModel

@{
    ViewBag.Title = "Schip";
    Layout = "_Layout";
}

<div class="content">
    <div class="text-center"><h3>Schip</h3></div>
    <table class="table">
        <tbody>
        <tr>
            <td>
                Thuishaven:
            </td>
            <td>
                Rotterdam
            </td>
        </tr>
        <tr>
            <td>
                Europanummer:
            </td>
            <td>
                02313841
            </td>
        </tr>
        <tr>
            <td>
                Tonnage:
            </td>
            <td>
                1.582
            </td>
        </tr>
        <tr>
            <td>
                Lengte:
            </td>
            <td>
                86 meter
            </td>
        </tr>
        <tr>
            <td>
                Breedte:
            </td>
            <td>
                9,50 meter
            </td>
        </tr>
        <tr>
            <td>
                Diepte:
            </td>
            <td>
                2,90 meter
            </td>
        </tr>
        <tr>
            <td>
                Inhoud ruimen:
            </td>
            <td>
                2.300 m3
            </td>
        </tr>
        <tr>
            <td>
                Aantal Ruimen:
            </td>
            <td>
                1
            </td>
        </tr>
        <tr>
            <td>
                Afmeting ruim:
            </td>
            <td>
                62 m. x 7,75 tussen de den/9,00 op de vloer
            </td>
        </tr>
        <tr>
            <td>
                Buikdenning:
            </td>
            <td>
                Staal
            </td>
        </tr>
        <tr>
            <td>
                Bouwjaar:
            </td>
            <td>
                <p>1958 Ruhrorter Schiffswerft, Bremen als "Irmgard"</p>
                <p>2005 Voorschip vernieuwd bij Scheepswerf Poppen, Zwartsluis</p>
            </td>
        </tr>
        <tr>
            <td>
                Ex-namen:
            </td>
            <td>
                "Irmgard", "VTG 114", "Geryon"
            </td>
        </tr>
        <tr>
            <td>
                Hoofdmotor:
            </td>
            <td>
                Caterpilllar 3508B
            </td>
        </tr>
        <tr>
            <td>
                Vermogen:
            </td>
            <td>
                1015 PK
            </td>
        </tr>
        <tr>
            <td>
                Boeggschroef:
            </td>
            <td>
                Stuurrooster van Wijk, 360 PK
            </td>
        </tr>
        <tr>
            <td>
                Luiken:
            </td>
            <td>
                Blommaert Friesche kap met wagen
            </td>
        </tr>
        <tr>
            <td>
                Verzekering:
            </td>
            <td>
                EOC meppel
            </td>
        </tr>
        </tbody>
    </table>
</div>
